# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\YWQ\PycharmProjects\Scaffold\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
